<mat-toolbar class="topnav">
  <mat-toolbar-row>

    <button *ngIf="!hideMenuToggleButton" type="button" mat-icon-button
      class="menu-toggle-btn" (click)="openSideNav()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="topnav-content">

      <div class="topnav-content-left">
        <span>Search Bar</span>
      </div>

      <div class="topnav-content-right">
        <a mat-raised-button target="_blank" class="profile mr-10">
          <span class="img-container">
            <img src="https://abdun-nahid.web.app/assets/img/abdunnahid.jpg" alt="profile picture">
          </span>
          <span class="name">
            Nahid
          </span>
        </a>

        <a mat-raised-button target="_blank" class="profile">
          <span class="img-container">
            <mat-icon>shopping_cart</mat-icon>
          </span>
          <span class="name">
            Cart
          </span>
        </a>
      </div>

    </div>

  </mat-toolbar-row>
</mat-toolbar>
